@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: var(--color-slate-950);
  background-color: var(--color-slate-200)
}

a {
  font-weight: 500;
  color: var(--color-blue-700);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-blue-600);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 0 .8em;
}

.panel {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border: 0 solid transparent;
    background-color: color-mix(in oklab, var(--color-violet-900) 70%, transparent);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--color-violet-200);
  }
}

#app {
  width: 600px;
  max-height: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.card {
  height: 600px;
}

.gh-icon a {
  color: black!important;
}

