@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: var(--color-neutral-800);
  background-color: var(--color-slate-100)
}

a {
  font-weight: 500;
  color: var(--color-blue-600);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-blue-500);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 0 .8em;
}

.panel {
  max-height: 450px;
  overflow-y: scroll;
}

#app {
  width: 500px;
  max-height: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.gh-icon a {
  color: black!important;
}

